

.me{
    display: flex;
    position: absolute;
    width: 100%;
    top: 30%;
    justify-content: center;

}

body{
    height: 200vh;
}

.text {
    width: 35%;
    margin-left: 5%;

}

.text h1{
    opacity: 80%;
    margin-bottom: 20px;

    color: #383838;
}

.text p{
    opacity: 70%;
    margin-bottom: 20px;

}

.me a{
    color: black;
    text-decoration: none;
}

.me img{
    height:315px;
    width:270px;
    border-radius: 1%;
}


.spacer{
    display: flex;
    position: absolute;
    width: 100%;
    top: 100%;
    justify-content: center;
}

hr{
    margin: 10px 0px 20px 0px;
    border: 0.2px solid rgb(0, 0, 0);
    opacity: 25%;
    width: 75%;
    
}


#interests{

    position: absolute;
    top:125%;
    width: 100%;
    opacity: 70%;

}

.row {
    display: flex;
    justify-content: space-evenly;
}

.row img{
    width:48px;
    height: auto;
}

.item {
    display: flex;
}

.item-text{
    margin-left: 40px
}
