

.me{
    display: flex;
    position: absolute;
    width: 100%;
    top: 32%;
    justify-content: center;

}

.text {
    width: 42%;
    margin-left: 5%;
}

.text h1{
    opacity: 80%;
    margin-bottom: 13px;
    color: #383838;
}

.text p{
    opacity: 70%;
}



.me img{
    height:350px;
    width:280px;
    border-radius: 1%;
}