#experience{
    position: absolute;
    top: 110%;
    width: 100%;
    animation: dropeffect 0.8s ease;
}

#experience img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#experience h1{
    margin-left: 25%;
    margin-bottom: 35px;
    opacity: 70%;
    color: #383838;    
}

.company{
    background-color: #09193D;
    cursor: pointer;
    margin: auto;
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 32px;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vex{
    background-color: #DA262F;
}

.csclub{
    background-color: #212121;
}

.csclub image{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.vex image{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.company:hover{

    transform: translateY(-12px);
}

@media all and (min-width: 1600px){
    #experience{
        top: 105%;
    }
}
