

header{
   /* margin: 250px 300px 300px 300px;*/
    display: flex;
    position: absolute;
    width: 100%;
    top: 33%; /*33%*/
    justify-content: center;
    animation: dropeffect 0.8s ease;

}


#text{

    width: 50%;
}

header a{

    text-decoration:none;
    opacity: 70%;
    transition: ease-in-out 0.2s;
    color: #1C77FF;
}

/*
header img{

    border-radius: 50%;
    width: 250px;
    height: 250px;
}
*/

video{
    width: 230px;
    height: 230px;
}
#image{
    margin-left: 58px;
    margin-top: 2px;
}


header h1{
    opacity: 70%;
    margin-bottom: 13px;
    color: #383838;
}

header h3{

    margin: 13px 0px 15px 0px;
    opacity: 70%;
}

#more-info{
    opacity: 70%;
    position: absolute;
    width: 100%;
    margin: auto;
    top: 82%;
    text-align: center;
    animation: dropeffect 0.8s ease;
    font-size: 15px;
}

#more-info p{
    opacity: 70%;
}

#more-info img{
    margin-top: 15px;
    opacity: 70%;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}


@keyframes dropeffect{

    0%{

        opacity: 0;
        transform: translateY(-50px);
    }

    100%{

        opacity: 1;
        transform: translateY(0px);
    }
}



@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(10px);
    }
  }


  
@media all and (min-width: 1600px){

    header{
        top: 36%;
    }
     #more-info{

        top: 73%;
     }
     #image{
        margin-left: 2%;
     }

    #text{
        width: 43%;
    }

    #more-info{
        top: 84%;
    }
}
