
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 15, 15, 0.85);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    animation: section 0.3s;
}

.modal-content{

    height: 480px;
    background-color: white;
    width: 65%;
    border-radius: 5px;

    
}

hr{
    margin: 10px 30px 20px 30px;
    border: 0.35px solid rgb(0, 0, 0);
    opacity: 15%;
}

.modal-content .close-modal{

    padding: 10px;
    background: none;
    color: #1C77FF;
    border: 1px solid #1C77FF;
    border-radius: 3px;
    font-size: 15px;
    transition: background-color 0.4s ease;
    cursor: pointer;
    text-align: center;
}


.modal-content h5 {

    margin: 30px 30px 10px 30px; 
    font-size: 23px;
    opacity: 75%;
}

.modal-content p {

    margin: 0px 30px 10px 30px;
    font-size: 18px;
    opacity: 75%;
}

.modal-info p{

    font-size: 15px;
    opacity: 75%;
}

.modal-info li{

    margin: 0px 50px 10px 60px;
    font-size: 15px;
    opacity: 75%;
}


.close-modal:hover{
    
    background-color: #1C77FF;
    color: rgb(255, 255, 255);
    
}

.modal-header{

    display: flex;
    align-items: center;
}


.company-logo img {

    width: 52px;
    height: 52px;
    border-radius: 5%;
    margin-top: 30px;
    margin-left: 455px;
    margin-bottom: 13px;
}


.skill-tags ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.skill-tags li{

    font-size: 13px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 13px;
    padding: 3px 15px 3px 15px;
}

.close{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes section{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


@media all and (min-width: 1600px){

    .modal-content p {

        font-size: 20px;
    }

    .modal-content h5 {
        font-size: 25px;

    }

    .modal-info p{
        font-size: 18px;
    }   

    .modal-info li{
        font-size: 18px;
    }
}
