body{
    height: 260vh;
}

#photo-wrapper{
    position: absolute;
    top: 19%;
}

.landscape{
    display: flex;
    justify-content: center;
}

.rows{
    display: flex;
    justify-content: center;
}

.rows img{
    width: 20%;
    height: 60%;
    margin: 40px 20px 0px 20px;
    transition: width 0.5s ease;
}

.rows img:hover{
    width:23%;
    height:auto;
}

.rows video{    

    width: 16%;
    height: auto;
    margin: 40px 20px 0px 20px;
    transition: width 0.5s ease;

}

.rows video:hover{
    width:19%;
    height:auto;
}

.pushup{
    margin: 40px 20px 0px 20px; 
}

.landscape img{
    width: 65%;
    height: 65%;
    margin: 40px 20px 0px 20px;
}