#projects{

    position: absolute;
    top: 240%;
    width: 100%;
    animation: dropeffect 0.8s ease;
}


#projects h1{

    margin-left: 25%;
    margin-bottom: 35px;
    color: rgb(73, 73, 73);
    
}

#projects img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#project-block{

    display: flex;
    width: 100%;
    justify-content: center;

}

.col1{

    margin-right: 30px;
}

.col2{
    margin-top: 40px;
}

.project-box{
    background-color: rgb(14, 13, 13);
    cursor: pointer;
    margin: auto;
    width: 400px;
    height: 330px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform  0.6s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.companion img{

    width: 360px;
    height: 130px;
}

.companion{
    background-color: white;
}


.project-box:hover{
    transform: translateY(-8px);
}





@media all and (min-width: 1600px){

    #projects{

        top: 220%;
    }
    .project-box{
        margin-bottom: 50px;
    }

    .col1{
        margin-right: 50px;
    }
}
